html{
    font-family: 'Raleway', sans-serif;
}

header{
    padding: 20px 0;

}

.caja{
    width: 80%;
    position: relative;
    margin: 0 auto;
    
}

h2 a{
    position: absolute;
    top: 50%;

    color: #464646;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    
}

nav{
    position: absolute;
    top: 50%;
    right: 5%;
}

nav li{
    display: inline;
    margin: 0 0 0 32px;

}

nav a{
    color: #464646;
    font-size: 16px;
    text-decoration: none;

}

#contactos{
    font-weight: bold;
}

#saludos{
    color: #464646;
    font-size: 52px;
    font-weight: bold;

}

#descripcion{
    color: #464646;
    font-size: 22px;
    padding-top: 24px;
}

#perfil{
    position:absolute;
    right: 140px;
    left: 1050px;
    top: 120px;
    height: 368px;
    width: 288px;
    border-radius: 500px;

}

.presentacion{
    position:absolute;
    top: 181px;
    left: 152px;
    right: 537px;

}

div li {
    display: inline;
    margin: 0 0 0 32px;
}

.redes{
    color: #464646;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.sociales{
    position: absolute;
    top: 403px;
    right: 821px;
    left: 152px;
}

.icono-link{
    padding-left: 4.69px;
}
